<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>新增公告-公司管理-系统管理</title>
    <meta name="keywords" content="新增公告-公告管理-系统管理"/>
    <meta name="description" content="新增公告-公告管理-系统管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/SystemManage.css"/>
    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.messages.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/systemManage.js"></script>
</head>
<body ng-controller="limitCtrl" class="affcheManage">
    <nav class="header">
        <div class="scroll scroll-nav">
            <a class="nav" href="javascript:void(0)" >系统设置 &gt;</a>
            <a class="nav" href="javascript:void(0)" data-route="ViewNotice">公告 &gt;</a>
            <a class="nav" href="javascript:void(0)" data-route="ViewNotice">公告列表 &gt;</a>
            <a class="nav active" href="javascript:void(0)">新增公告</a>
        </div>
    </nav>
    <div class="container" ng-controller="affcheAddCtrl">
        <form class="form">
            <div class="form-group">
                <label for="" class="yc-col-2 control-label"> <span>*</span> 公告标题：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="myTitle" type="text" ng-placeholder="请输入公告名称" ng-model="affche.title">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="yc-col-2 control-label"> <span>*</span> 公告内容：</label>
                <div class="yc-col-10">
                    <textarea class="form-control affcheContent" ng-model="affche.content" maxlength="1500" name="myContent" ng-placeholder="请填写公告内容"></textarea>
                    <span class="msg">您还可以输入{{1500-(affche.content.length || 0)}}个字</span>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="yc-col-2 control-label"> 公告附件：</label>
                <div class="yc-col-10">
                    <div class="yc-btn-web" id="affcheAddUpload"> 上 传 </div>
                    <span ng-bind="affche.noticeAttachment"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="yc-col-2 control-label"> <span>*</span> 发布范围：</label>
                <div class="yc-col-10">
                    <label class="radio"><input class="form-control" type="radio" ng-model="affche.publishRange" ng-value="0">至所有用户</label>
                    <label class="radio"><input class="form-control" type="radio" ng-model="affche.publishRange" ng-value="1">至所属公司的用户</label>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="yc-col-2 control-label"> <span>*</span> 发布人：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="publishUser" type="text" disabled="disabled" ng-value="affche.publishUser">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="yc-col-2 control-label"> <span>*</span> 发布角色：</label>
                <div class="yc-col-10">
                    <label class="radio" ng-repeat="r in roleList">
                        <input class="form-control" type="radio" ng-model="affche.publishRoleId" ng-value="r.id">
                        {{r.roleName}}
                    </label>
                </div>
            </div>
            <!--<div class="form-group">
                <label for="" class="yc-col-2 control-label"> <span>*</span> 显示状态：</label>
                <div class="yc-col-10">
                    <label class="checkbox">
                        <input class="form-control" type="checkbox" value="checkbox" ng-true-value="0" ng-false-value="-1" ng-model="affche.state">
                        显示
                    </label>
                </div>
            </div>-->
            <div class="form-group-btn">
                <label class="yc-col-2 control-label"></label>
                <div class="yc-col-10">
                    <a href="javascript:void(0)" class="yc-btn" ng-click="postEdit()">提 交</a>
                    <a href="javascript:void(0)" data-route="ViewNotice" class="yc-btn-out">取 消</a>
                </div>
            </div>

        </form>
    </div>

</body>
</html>