<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>日志管理-系统管理</title>
    <meta name="keywords" content="日志管理-系统管理"/>
    <meta name="description" content="日志管理-系统管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/reportManage.css"/>
    <link rel="stylesheet" href="../../static/lib/dateRange/jQuery.pickerDateRange.css"/>
    <link rel="stylesheet" href="../../static/css/SystemManage.css">

    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script src="../../static/lib/dateRange/jQuery.pickerDateRange.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/systemManage.js"></script>
</head>
<body ng-controller="limitCtrl">
<nav class="header">
    <div class="scroll">
        <a class="nav" data-route="ViewOperationLog">日志列表</a>
    </div>
</nav>
<div class="container" ng-controller="operationLogCtrl">
    <div class="button-group clear">
        <div class="button-g fl">
            <!--<a href="companyIncreased.html" class="yc-btn fl" ng-if="systemManageRule['ManageCompany']">+ 新增公司</a>-->
        </div>
        <div class="query-g fr">
            <div yc-select="logTypeSel" width="150" query="query" value="paramInt1" key="id" add="全部" placeholder="操作类型" session="sys-log-type"></div>

            <div class="icon-input">
                <input class="form-control" type="text" ng-placeholder="请输入日志内容" ng-model="query.search">
                <span class="icon">
                    <i class="yc-icon calendars" ng-click="redirect(1,search)">&#xe60b;</i>
                </span>
            </div>
            <div class="icon-input picker-date">
                <label>
                    <input class="form-control time_default" readonly type="text" id="dateRangeOperate">
                    <i class="icon yc-icon calendars">&#xe60e;</i>
                </label>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="yc-table">
            <thead>
            <tr>
                <th>操作时间</th>
                <th>日志内容</th>
                <th>操作账号</th>
                <th>操作IP</th>
                <th class="center">操作类型</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in operationLogs">
                <td ng-bind="item.createTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="item.descr"></td>
                <td ng-bind="item.logName"></td>
                <td ng-bind="item.ip"></td>
                <td  class="center"  ng-bind="typeShow(item.type)"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="client-judge" ng-if="total_page<1">您好，暂时没有符合条件的任何数据</div>
    <div ng-show="total_page>0" yc-page page="page" redirect="redirect(page.page,search)" query="query"></div>
</div>
</body>
</html>