<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>新增角标-角标管理-系统管理</title>
    <meta name="keywords" content="新增角标-角标管理-系统管理"/>
    <meta name="description" content="新增角标-角标管理-系统管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/SystemManage.css"/>
    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.messages.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/systemManage.js"></script>
</head>
<body class="markManage">
    <nav class="header">
        <div class="scroll scroll-nav">
            <a class="nav" href="javascript:void(0)" >系统设置 &gt;</a>
            <a class="nav" href="javascript:void(0)" >角标 &gt;</a>
            <a class="nav" href="javascript:void(0)" data-route="ViewADMark">角标列表 &gt;</a>
            <a class="nav active" href="javascript:void(0)">新增角标</a>
        </div>
    </nav>
    <div class="container" ng-controller="MarkAddCtrl">
        <form class="form">
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 角标名称：</label>
                <div class="yc-col-10">
                    <input class="form-control" type="text" ng-model="mark.adMarkName" name="adMarkName">
                </div>
            </div>
            <div class="form-group">
                <label class="yc-col-2 control-label"> 角标打开地址：</label>
                <div class="yc-col-10">
                    <input class="form-control" type="text" ng-model="mark.adMarkUrlShow" name="adMarkUrlShow">
                </div>
            </div>
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 角标上传：</label>
                <div class="yc-col-10">
                    <div id="markUpload" class="yc-btn-web">上&emsp;传</div>
                    <span class="msg">支持尺寸为20*20，格式为jpg、png、gif的图片</span>

                    <p class="error hide" ng-class="{'show-l':!mark.adMarkUrl && validShow}">请上传图片</p>
                    <div class="showPhoto" ng-repeat="img in imgList track by $index">
                        <img ng-src="{{img.uploadFile}}" width="{{img.width}}" height="{{img.height}}">
                        <!--<span ng-click="imgList.splice($index,1)"><i class="yc-icon pointer">&#xe61b;</i></span>-->
                    </div>
                </div>
            </div>

            <!--客户广告、紧急广告、默认广告、打底广告-->
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 使用范围：</label>
                <div class="yc-col-10">
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.adMarkType" value="1">客户广告
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.adMarkType" value="2">紧急广告
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.adMarkType" value="3">默认广告
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.adMarkType" value="4">打底广告
                    </label>
                    <i class="yc-icon pointer" title="使用范围为紧急广告、默认广告、打底广告只允许上传一个角标">&#xe622;</i>
                </div>
            </div>

            <div class="form-group" ng-show="mark.adMarkType != 1">
                <label class="yc-col-2 control-label"> <span>*</span> 角标位置：</label>
                <div class="yc-col-10">
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.position" value="1">左上角
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.position" value="2">左下角
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.position" value="3">右上角
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.position" value="4">右下角
                    </label>
                </div>
            </div>

            <!--<div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 显示状态：</label>
                <div class="yc-col-10">
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.state" value="0">启用
                    </label>
                    <label class="radio">
                        <input class="form-control" type="radio" ng-model="mark.state" value="-1">禁用
                    </label>
                </div>
            </div>-->

            <div class="form-group-btn">
                <label class="yc-col-2 control-label"></label>
                <div class="yc-col-10">
                    <a href="javascript:void(0)" class="yc-btn" ng-click="postEdit()">提 交</a>
                    <a href="javascript:void(0)" data-route="ViewADMark" class="yc-btn-out">取 消</a>
                </div>
            </div>

        </form>
    </div>
</body>
</html>