<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>系统监控-系统管理</title>
    <meta name="keywords" content="系统监控-系统管理"/>
    <meta name="description" content="系统监控-系统管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/SystemManage.css"/>
    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/systemManage.js"></script>
</head>
<body ng-controller="limitCtrl">
    <nav class="header">
        <div class="scroll" ng-init="processList = 'monitorManage.html'">
            <a class="nav" ng-class="{'active':processList == 'monitorManage.html'}" ng-click="processList = 'monitorManage.html'">监控类型</a>
            <a class="nav" ng-class="{'active':processList == 'monitorInfo.html'}" ng-click="processList = 'monitorInfo.html'">监控详情</a>
        </div>
    </nav>
    <div ng-include="processList"></div>

    <script type="text/ng-template" id="monitorInfo.html">
    <div class="container" ng-controller="MonitorInfoCtrl">
        <div class="button-group clear">
            <div class="button-g fl"></div>
            <div class="query-g fr">

                <div yc-select="monitorStateSel" width="150" query="query" value="paramInt1" key="id" placeholder="状态" session="monitor_state"></div>

                <div class="icon-input">
                    <input class="form-control" type="text" ng-placeholder="请输入监控类型名称" ng-model="query.search">
                    <span class="icon">
                        <i class="yc-icon calendars" ng-click="redirect(1,search)">&#xe60b;</i>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="yc-table">
                <thead>
                <tr>
                    <th class="th160-min">监控日期</th>
                    <!--<th>监控时常</th>-->
                    <th class="th160-min">监控名称</th>
                    <th class="th60-min">监控值</th>
                    <th class="th60-min">状态</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td ng-bind="::item.monitorDate"></td>
                    <!--<td ng-bind="::item.monitorHour"></td>-->
                    <td ng-bind="::item.monitorName"></td>
                    <td ng-bind="::item.monitorValue"></td>
                    <td>
                        <span ng-show="item.state" ng-bind="'正常'"></span>
                        <span ng-hide="item.state" ng-bind="'异常'" class="error"></span>
                    </td>
                    <td title="{{item.remark}}">
                        <span class="ellipsis" style="width: 700px" ng-bind="::item.remark">

                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="client-judge" ng-if="total_page<1">您好，暂时没有符合条件的任何数据</div>
        <div ng-show="total_page>0" yc-page page="page" redirect="redirect(page.page,search)" query="query"></div>

    </div>
    </script>

    <script type="text/ng-template" id="monitorManage.html">
    <div class="container" ng-controller="MonitorManageCtrl">
        <div class="button-group clear">
            <div class="button-g fl">
                <!--<a href="javascript:void(0)" data-route="ViewMonitorAdd" class="yc-btn" ng-if="systemManageRule['ManageMonitor']">新增监控类型</a>-->
            </div>
            <div class="query-g fr">
                <div class="icon-input">
                    <input class="form-control" type="text" ng-placeholder="请输入监控类型名称" ng-model="query.search">
                    <span class="icon">
                        <i class="yc-icon calendars" ng-click="redirect(1,search)">&#xe60b;</i>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="yc-table">
                <thead>
                <tr>
                    <th>添加时间</th>
                    <th class="th140">监控名称</th>
                    <!--<th>警告开关</th>-->
                    <th>接口地址</th>
                    <!--<th>接口判断类型</th>-->
                    <!--<th>邮件</th>-->
                    <!--<th>手机</th>-->
                    <!--<th class="center th120">操作</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td ng-bind="::item.createTime|dateYMD"></td>
                    <td ng-bind="::item.monitorName"></td>
                    <!--<td ng-bind="::item.monitorSwitch?'开':'关'"></td>-->
                    <td ng-bind="::item.monitorUrl"></td>
                    <!--<td ng-bind="::item.monitorUrlType | monitorType"></td>-->
                    <!--<td ng-bind="::item.emails"></td>-->
                    <!--<td ng-bind="::item.phones"></td>-->
                    <!--<td class="center">
                        <a title="修改信息" data-route="ViewMonitorEdit?id={{item.id}}" ng-if="systemManageRule['ManageMonitor']" href="javascript:void(0)">编辑</a>
                        <a title="查看信息" data-route="ViewMonitorEdit?id={{item.id}}" ng-if="!systemManageRule['ManageMonitor']" href="javascript:void(0)">查看</a>
                        <a title="开/关" ng-if="systemManageRule['ManageMonitor']" href="javascript:;" ng-click="enable(item.id,item.state)">{{(item.state == 0)?'开':'关'}}</a>
                        <a title="删除" ng-if="systemManageRule['ManageMonitor']" href="javascript:;" ng-click="delete(item.id)">失效</a>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="client-judge" ng-if="total_page<1">您好，暂时没有符合条件的任何数据</div>
        <div ng-show="total_page>0" yc-page page="page" redirect="redirect(page.page,search)" query="query"></div>

    </div>
    </script>
</body>
</html>