<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>订单管理-合同管理</title>
    <meta name="keywords" content="订单管理-合同管理"/>
    <meta name="description" content="订单管理-合同管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/listManage.css"/>

    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/order.js"></script>
</head>
<body ng-controller="orderRuleCtrl">
    <nav class="header">
        <div class="scroll">
            <a class="nav" data-route="ViewContract">合同列表</a>
        </div>
    </nav>
    <div class="container" ng-controller="contractListCtrl">
        <div class="button-group clear">
            <div class="button-g fl">
                
                <a class="yc-btn" data-route="ViewContractAdd" ng-if="putManageRule['ManageContract']">新增合同</a>
                <!--<a class="yc-btn-web" id="contractImport">导入合同</a>-->
                <!--<a class="yc-btn" href="javascript:void (0)" ng-click="contractDown()">下载模板</a>-->
            </div>
            <div class="query-g fr">
                <div class="icon-input">
                    <input class="form-control" type="text" ng-placeholder="请输入合同号或名称" ng-model="query.search">
                    <span class="icon">
                        <i class="yc-icon calendars" ng-click="redirect(1,search)">&#xe60b;</i>
                    </span>
                </div>
            </div>
        </div>

        <div class="table-container">
            <table class="yc-table">
                <thead>
                <tr>
                    <th>合同号</th>
                    <th>合同名称</th>
                    <th>合同总金额</th>
                    <th>合同折扣比例</th>
                    <th>合同配送比例</th>
                    <th>是否打包</th>
                    <th>已排期购买金额</th>
                    <th>已执行金额</th>
                    <th>已排期配送金额</th>
                    <th>已配送金额</th>
                    <th text-center>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td><span ng-bind="::item.contractCode"></span></td>
                    <td><span ng-bind="::item.contractName"></span></td>
                    <td><span ng-bind="::item.contractMoney | currency:'￥'"></span></td>
                    <td><span ng-bind="::item.discount*100 + '%'"></span></td>
                    <td><span ng-bind="::item.present*100 + '%'"></span></td>
                    <td><span ng-bind="::item.type==2?'是':'否'"></span></td>
                    <td><span ng-bind="::item.schedulingBuyMoney | currency:'￥'"></span></td>
                    <td><span ng-bind="::item.executedMoney | currency:'￥'"></span></td>
                    <td><span ng-bind="::item.schedulingPresentedMoney | currency:'￥'"></span></td>
                    <td><span ng-bind="::item.presentedMoney | currency:'￥'"></span></td>
                    <td text-center>
                        <a href="javascript:void(0)" data-route="ViewContractEdit?id={{item.id}}" title="编辑">编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="client-judge" ng-if="total_page<1">您好，暂时没有符合条件的任何数据</div>
        <div ng-show="total_page>0" yc-page page="page" redirect="redirect(page.page,search)" query="query"></div>

    </div>

</body>
</html>