<!DOCTYPE html>
<html dir="ltr" lang="zh-CN" ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>新增订单-投放订单-订单管理</title>
    <meta name="keywords" content="新增订单-投放订单-订单管理"/>
    <meta name="description" content="新增订单-投放订单-订单管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/lib/dateRange/jQuery.pickerDateRange.css"/>
    <link rel="stylesheet" href="../../static/css/ADManageAddEdit.css"/>

    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.messages.js"></script>
    <script type="text/javascript" src="../../static/lib/dateRange/jQuery.pickerDateRange.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/order.js"></script>
</head>
<body ng-controller="orderRuleCtrl">
<nav class="header">
    <div class="scroll scroll-nav">
        <a class="nav" href="javascript:void(0)" >广告订单 &gt;</a>
        <a class="nav" href="javascript:void(0)" data-route="ViewPutOrder">投放订单 &gt;</a>
        <a class="nav" href="javascript:void(0)" data-route="ViewPutOrder">订单列表 &gt;</a>
        <a class="nav active" href="javascript:void(0)">新增订单</a>
    </div>
</nav>
<div class="container" ng-controller="PutAddCtrl">
    <form class="form">
        <div class="header-title">
            <div class="header-message">基本信息</div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"> <span>*</span> 订单类型：</label>
            <div class="yc-col-10">
                <div yc-select="orderTypeSel" width="260" query="order" value="orderType" key="id" placeholder="订单类型"></div>
                <span class="msg">（除预定广告位，其余提交后，不得修改）</span>
            </div>
        </div>

        <div class="form-group" ng-show="order.orderType == 1">
            <label class="yc-col-2 control-label"> <span>*</span> 打包合同：</label>
            <div class="yc-col-10">
                <label class="radio"><input class="form-control" type="radio" ng-model="order.isPackage" ng-value="1" ng-change="isPackageChange(1)"> 否</label>
                <label class="radio"><input class="form-control" type="radio" ng-model="order.isPackage" ng-value="2" ng-change="isPackageChange(2)"> 是</label>
            </div>
        </div>

        <!--正式投放-->
        <div ng-show="order.orderType == 2">
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 合同签订情况：</label>
                <div class="yc-col-10">
                    <label class="radio"><input class="form-control" type="radio" ng-model="order.contractType" ng-value="1" ng-change="contractTypeChange(1)"> 已签合同</label>
                    <label class="radio"><input class="form-control" type="radio" ng-model="order.contractType" ng-value="2" ng-change="contractTypeChange(2)"> 暂无合同</label>
                </div>
            </div>

            <div class="form-group" ng-show="order.contractType == 1">
                <label class="yc-col-2 control-label"> <span>*</span> 请选择合同：</label>
                <div class="yc-col-10">
                    <div yc-select="contractCodeSel" width="260" search="hand" input-holder="请输入完整合同号进行查询" default-search="查询结果无此合同号，请重新输入" query="order" value="contractCode" key="contractCode" name="contractCode" placeholder="请查询合同"></div>
                    <span class="error" ng-show="!order.contractCode && validShow">请选择合同</span>
                </div>
            </div>

            <div class="form-group" ng-show="order.contractType == 2">
                <label class="yc-col-2 control-label"> <span>*</span> 预估合同金额：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="futureMoney" type="text" ng-placeholder="请输入预估合同金额" ng-model="order.futureMoney">
                    <span class="msg" ng-show="order.futureMoney" ng-bind="'(' +(order.futureMoney | currency:'￥') + ')'"></span>
                </div>
            </div>

            <div class="form-group" ng-show="order.contractType == 2">
                <label class="yc-col-2 control-label"> <span>*</span> 历史排期金额：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="historyScheduleMoney" type="text" ng-placeholder="请输入历史排期金额" ng-model="order.historyScheduleMoney">
                    <span class="msg" ng-show="order.historyScheduleMoney" ng-bind="'(' +(order.historyScheduleMoney | currency:'￥') + ')'"></span>
                </div>
            </div>

            <div class="form-group" ng-show="selectContractShow && order.contractType == 1">
                <label class="yc-col-2 control-label"> <span>*</span> 合同金额：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="totalMoney" type="text" disabled="disabled" ng-placeholder="请输入合同金额" ng-model="order.totalMoney">
                    <span class="msg" ng-show="order.totalMoney" ng-bind="'(' +(order.totalMoney | currency:'￥') + ')'"></span>
                </div>
            </div>

            <div class="form-group" ng-show="selectContractShow || order.contractType == 2">
                <label class="yc-col-2 control-label"> <span>*</span> 合同折扣：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="discount" type="text" ng-disabled="order.contractType == 1" ng-placeholder="请输入合同折扣" ng-model="order.discount">
                    <span class="msg">%</span>
                </div>
            </div>

            <div class="form-group" ng-show="selectContractShow || order.contractType == 2">
                <label class="yc-col-2 control-label"> <span>*</span> 合同配送：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="present" type="text" ng-disabled="order.contractType == 1" ng-placeholder="请输入合同配送" ng-model="order.present">
                    <span class="msg">%</span>
                </div>
            </div>

            <div class="form-group" ng-show="selectContractShow || order.contractType == 2">
                <label class="yc-col-2 control-label"> <span>*</span> 打包合同：</label>
                <div class="yc-col-10">
                    <label class="radio"><input class="form-control" type="radio" ng-disabled="order.contractType == 1" ng-model="order.isPackage" ng-value="1" ng-change="isPackageChange(1)"> 否</label>
                    <label class="radio"><input class="form-control" type="radio" ng-disabled="order.contractType == 1" ng-model="order.isPackage" ng-value="2" ng-change="isPackageChange(2)"> 是</label>
                </div>
            </div>

            <div class="form-group" ng-show="order.isPackage == 2">
                <label class="yc-col-2 control-label"> <span>*</span> 订单打包金额：</label>
                <div class="yc-col-10">
                    <input class="form-control" name="packageMoney" type="text" ng-placeholder="请输入订单打包金额" ng-model="order.packageMoney">
                    <span class="msg" ng-show="order.packageMoney" ng-bind="'(' +(order.packageMoney | currency:'￥') + ')'"></span>
                </div>
            </div>

        </div>

        <div class="form-group" ng-show="order.orderType == 4">
            <label class="yc-col-2 control-label"> <span>*</span> 选择部门：</label>
            <div class="yc-col-10">
                <div yc-select="departmentListSel" width="260" query="order" value="agencyNumber" key="agencyNumber" name="departmentName" recursion="nextDepts" placeholder="部门"></div>
                <span class="error" ng-show="!order.agencyNumber && validShow">请选择部门</span>
            </div>
        </div>

        <div ng-show="order.orderType == 5">
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 关联订单：</label>
                <div class="yc-col-10">

                    <span class="tag pointer" ng-click="showOrderCarList('#orderCarList')">
                        {{_cache._relatedOrderName || '选择订单'}}
                        <span ng-show="order.relatedOrderId != undefined" ng-click="hideRelatedOrder($event)">
                            <i class="yc-icon pointer">&#xe61b;</i>
                        </span>
                    </span>

                    <!--<a href="javascript:void(0)" class="yc-btn" ng-click="showOrderCarList('#orderCarList')">{{_cache._relatedOrderName || '选择订单'}}
                        <i style="position: absolute;top: -13px;right: -10px;cursor: pointer;" ng-show="order.relatedOrderId != undefined" class="yc-icon" ng-click="hideRelatedOrder($event)">&#xe654;</i>
                    </a>-->
                </div>
            </div>

            <div ng-show="order.relatedOrderId != undefined">
                <div class="form-group">
                    <label class="yc-col-2 control-label"> <span>*</span> 合同签订情况：</label>
                    <div class="yc-col-10">
                        <label class="radio"><input class="form-control" type="radio" disabled="disabled" ng-model="order.contractType" ng-value="1"> 已签合同</label>
                        <label class="radio"><input class="form-control" type="radio" disabled="disabled" ng-model="order.contractType" ng-value="2"> 暂无合同</label>
                    </div>
                </div>

                <div class="form-group" ng-show="order.contractType == 1">
                    <label class="yc-col-2 control-label"> <span>*</span> 合同号：</label>
                    <div class="yc-col-10">
                        <input type="text" disabled class="form-control" ng-value="order.contractCode">
                    </div>
                </div>

                <div class="form-group" ng-show="order.contractType == 2">
                    <label class="yc-col-2 control-label"> <span>*</span> 预估合同金额：</label>
                    <div class="yc-col-10">
                        <input class="form-control" disabled name="futureMoney" type="text" ng-placeholder="请输入预估合同金额" ng-model="order.futureMoney">
                        <span class="msg" ng-show="order.futureMoney" ng-bind="'(' +(order.futureMoney | currency:'￥') + ')'"></span>
                    </div>
                </div>

                <div class="form-group" ng-show="order.contractType == 2">
                    <label class="yc-col-2 control-label"> <span>*</span> 历史排期金额：</label>
                    <div class="yc-col-10">
                        <input class="form-control" disabled name="historyScheduleMoney" type="text" ng-placeholder="请输入历史排期金额" ng-model="order.historyScheduleMoney">
                        <span class="msg" ng-show="order.historyScheduleMoney" ng-bind="'(' +(order.historyScheduleMoney | currency:'￥') + ')'"></span>
                    </div>
                </div>

                <div class="form-group" ng-show="order.contractType == 1">
                    <label class="yc-col-2 control-label"> <span>*</span> 合同金额：</label>
                    <div class="yc-col-10">
                        <input class="form-control" name="totalMoney" type="text" disabled="disabled" ng-placeholder="请输入合同金额" ng-model="order.totalMoney">
                        <span class="msg" ng-show="order.totalMoney" ng-bind="'(' +(order.totalMoney | currency:'￥') + ')'"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="yc-col-2 control-label"> <span>*</span> 合同折扣：</label>
                    <div class="yc-col-10">
                        <input class="form-control" name="discount" type="text" disabled="disabled" ng-placeholder="请输入合同折扣" ng-model="order.discount">
                        <span class="msg">%</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="yc-col-2 control-label"> <span>*</span> 合同配送：</label>
                    <div class="yc-col-10">
                        <input class="form-control" name="present" type="text" disabled="disabled" ng-placeholder="请输入合同配送" ng-model="order.present">
                        <span class="msg">%</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="yc-col-2 control-label"> <span>*</span> 打包合同：</label>
                    <div class="yc-col-10">
                        <label class="radio"><input class="form-control" type="radio" ng-model="order.isPackage" disabled="disabled" ng-value="1" name="contractType"> 否</label>
                        <label class="radio"><input class="form-control" type="radio" ng-model="order.isPackage" disabled="disabled" ng-value="2" name="contractType"> 是</label>
                    </div>
                </div>

                <div class="form-group" ng-show="order.isPackage == 2">
                    <label class="yc-col-2 control-label"> <span>*</span> 订单打包金额：</label>
                    <div class="yc-col-10">
                        <input class="form-control" name="packageMoney" disabled="disabled" type="text" ng-placeholder="请输入订单打包金额" ng-model="order.packageMoney">
                        <span class="msg" ng-show="order.packageMoney" ng-bind="'(' +(order.packageMoney | currency:'￥') + ')'"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="yc-col-2 control-label"> <span>*</span> 客户名称：</label>
                    <div class="yc-col-10">
                        <input type="text" class="form-control" disabled ng-value="order.customerName">
                    </div>
                </div>

            </div>

        </div>

        <div class="form-group" ng-show="order.orderType != 5 && order.orderType != 4">
            <label class="yc-col-2 control-label"> <span>*</span> 客户：</label>
            <div class="yc-col-10">
                <div yc-select="customerListSel" width="260" query="order" value="customerId" name="customerName" key="id" placeholder="客户"></div>
                <span class="error" ng-show="!order.customerId && validShow">请选择客户</span>
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"> <span>*</span> 订单名称：</label>
            <div class="yc-col-10">
                <input class="form-control" name="orderName" type="text" ng-placeholder="请输入订单名称" ng-model="order.orderName">
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"> <span>*</span> 投放档期：</label>
            <div class="yc-col-10">
                <div class="icon-input">
                    <label>
                        <input class="form-control" name="pickerDateRange" readonly type="text" id="pickerDateRange">
                        <i class="icon yc-icon calendars">&#xe60e;</i>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"> 业务员：</label>
            <div class="yc-col-10">
                <input class="form-control" name="trueName" type="text" disabled="disabled" ng-model="_cache.trueName">
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"> 内部备注：
                <br>
                <p style="padding-right: 6px"><a ng-click="showPhotoFun()" style="color: #247BD3;" href="javascript:void(0)">
                    图片</a>
                    <i ng-show="!showPhoto" class="yc-icon" style="font-size: 12px">&#xe612;</i>
                    <i ng-show="showPhoto" class="yc-icon" style="font-size: 12px">&#xe60a;</i>
                </p>
            </label>
            <div class="yc-col-10">
                <textarea class="form-control" name="remark" ng-model="order.remark"></textarea>
            </div>
        </div>

        <div class="form-group" ng-show="showPhoto">
            <label class="yc-col-2 control-label"> 图片：</label>
            <div class="yc-col-10">
                <a id="showPhotoUpload" class="yc-btn-web" href="javascript:void(0)" ng-hide="imgList.length >= 2">点击上传</a>
                <div class="showPhoto" ng-repeat="img in imgList">
                    <img ng-src="{{img.fileHttpUrl}}" width="{{img.width}}" height="{{img.height}}">
                    <span ng-click="imgList.splice($index,1)"><i class="yc-icon pointer">&#xe61b;</i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="yc-col-2 control-label"> 公开备注：</label>
            <div class="yc-col-10">
                <textarea class="form-control" ng-model="order.publicRemark"></textarea>
            </div>
        </div>

        <div class="header-title">
            <div class="header-message">选择广告位</div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"> <span>*</span> 添加广告位：</label>
            <div class="yc-col-10">
                <a href="javascript:void(0)" class="yc-btn" ng-click="showAdList()">点击添加+</a>
                <span class="msg">一个订单选择的所有广告位仅限同一范围下的媒体资源</span>
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label">  </label>
            <div class="yc-col-10">
                <table class="yc-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>广告位名称</th>
                            <th>排期类型</th>
                            <th>刊例价</th>
                            <th>投放档期</th>
                            <th ng-show="_cache.orderListManagerShow()">排期金额</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ad in adListInfo">
                            <td>{{ad.id}}</td>
                            <td>{{ad.adSpaceName}}</td>
                            <td>
                                <!--排期类型：0正常购买 1免费配送 2自用 3 打包-->
                                <label class="radio" ng-click="scheduleTypeChange(ad,type.id)" ng-repeat="type in scheduleTypeList">
                                    <input class="form-control" ng-model="ad.scheduleType" type="radio" ng-value="type.id">{{type.name}}
                                </label>
                            </td>
                            <td><span>{{(ad.price | currency:'') + '/'}}{{ad.priceCycle | isDay}}</span></td>
                            <td>
                                <!--打包-->
                                <div ng-show="ad.scheduleType == 3">
                                    <!--设置更多后将影藏此项-->
                                    <div class="icon-input">
                                        <label>
                                            <input class="form-control picker-l" disabled="disabled" ng-value="(order.orderShowDate.startTime | DateFormatFtr:'yyyyMMdd') + ' ~ ' + (order.orderShowDate.endTime | DateFormatFtr:'yyyyMMdd')" type="text" >
                                            <i class="icon yc-icon calendars">&#xe60e;</i>
                                        </label>
                                    </div>
                                </div>
                                <!--按天 按月-->
                                <div ng-show="(ad.priceCycle == 1 || ad.priceCycle == 2) && ad.scheduleType != 3">
                                    <!--设置更多后将影藏此项-->
                                    <div class="icon-input" ng-show="!ad.scheduleAdMoneyShow">
                                        <label>
                                            <input class="form-control picker-l" type="text" id="{{ad.adShowDates[0].pickerDateRange}}">
                                            <i class="icon yc-icon calendars">&#xe60e;</i>
                                        </label>
                                    </div>
                                    <span class="pointer" title="{{ad.scheduleValue.join('，')}}" ng-show="ad.scheduleAdMoneyShow">
                                        {{ad._scheduleValue.join('，')}}
                                    </span>
                                    <a ng-class="{'moreConfig':!ad.scheduleAdMoneyShow,'moreConfig2':ad.scheduleAdMoneyShow}" href="javascript:void(0)" ng-click="showScheduleDay('#moreConfig',$index)">更多设置</a>
                                </div>
                                <!--按小时-->
                                <div ng-if="ad.priceCycle == 3 && ad.scheduleType != 3">
                                    <div ng-if="!ad.scheduleAdMoneyShow"  yc-select="ad.timeSel1" width="90" query="ad" value="startTime" key="s" placeholder="开始时刻" resname="00:00" name="z" callback="addTimeDetail(ad)"></div>&nbsp;
                                    <div ng-if="!ad.scheduleAdMoneyShow"  yc-select="ad.timeSel2" width="90" query="ad" value="endTime" key="s" placeholder="结束时刻" resname="23:59" name="n" callback="addTimeDetail(ad)"></div>
                                    <span class="pointer" title="{{ad.scheduleValue.join('，')}}" ng-show="ad.scheduleAdMoneyShow">
                                        {{ad._scheduleValue.join('，')}}
                                    </span>
                                    <a ng-class="{'moreConfig':!ad.scheduleAdMoneyShow,'moreConfig2':ad.scheduleAdMoneyShow}" href="javascript:void(0)" ng-click="showScheduleTime('#moreConfig',$index)">更多设置</a>
                                </div>
                            </td>
                            <td ng-show="_cache.orderListManagerShow()"><span ng-show="ad.scheduleAdMoney" ng-bind="(ad.scheduleAdMoney | currency:'')+'元'"></span></td>
                            <td class="pointer center" style="color: #247BD3;" ng-click="deleteInfo($index,ad.adSpaceName)">删除</td>
                        </tr>
                    </tbody>
                </table>

                <div class="client-judge" ng-if="adListInfo.length<1">
                    <p>暂未添加广告位，请点击下方按钮添加 <a ng-click="showAdList('#leftTorightBig')" class="yc-btn">添加广告位</a></p>
                </div>

                <div ng-show="_cache.orderListManagerShow()">
                    <p>订单总金额：
                        【购买】 <span class="error" ng-bind="(_cache.localScheduleMoney || 0) | currency:''"></span> 元
                        【配送】 <span class="error" ng-bind="(_cache.localDeliveryMoney || 0) | currency:''"></span>元
                    </p>
                    <p ng-show="order.orderType == 2">预估合同可排期金额：
                        【购买】<span class="error" ng-bind="(_cache.contract.contractBuyMoney || 0) | currency:''"></span>元
                        （剩余： <span class="error" ng-bind="(((_cache.contract.contractBuyMoney || 0) - (_cache.contract.schedulingBuyMoney || 0))) | currency:''"></span> 元）
                        【配送】<span class="error" ng-bind="(_cache.contract.presentMoney || 0) | currency:''">100,000.00</span>元
                        （剩余： <span class="error" ng-bind="(((_cache.contract.presentMoney || 0) - (_cache.contract.schedulingPresentedMoney || 0))) | currency:''">100,000.00</span>元）
                    </p>
                </div>

                <!--<div class="orderListManager" style="max-width: 1000px" ng-show="_cache.orderListManagerShow()">
                    <div style="height: 20px;">
                        <p class="fl">
                            <span>
                                已排期总金额：
                                <span ng-show="order.contractCode" class="red">{{((_cache.contract.schedulingBuyMoney || 0) + (_cache.contract.schedulingPresentedMoney || 0)) | currency:''}}</span>
                                <span ng-show="!order.contractCode" class="red">{{((_cache.localScheduleMoney || 0) + (_cache.localDeliveryMoney || 0)) | currency:''}}</span>元
                            </span>
                        </p>
                        <p class="fr">
                            订单总金额：<span>{{((_cache.localScheduleMoney || 0) + (_cache.localDeliveryMoney || 0)) | currency:''}}元</span>(
                            <span>【购买】<span class="red" ng-bind="(_cache.localScheduleMoney || 0) | currency:''"></span>元</span>
                            <span>【配送】<span class="red" ng-bind="(_cache.localDeliveryMoney || 0) | currency:''"></span>元</span>)
                        </p>
                    </div>
                    <div>
                        <p text-left ng-show="order.orderType == 2">
                            <span> <span ng-show="order.contractType == 2">预估</span>合同排期总金额： <span class="red" ng-bind="(_cache.contract.scheduleMoney || 0) | currency:''"></span>元&nbsp;</span>
                        </p>
                        <p ng-show="order.orderType == 2">
                            <span ng-show="order.contractType == 2">预估</span>合同排期金额：
                            {{((_cache.contract.schedulingBuyMoney || 0) + (_cache.contract.schedulingPresentedMoney || 0)) | currency:''}}元&nbsp{
                                <span>【购买】<span class="red" ng-bind="(_cache.contract.schedulingBuyMoney || 0) | currency:''"></span>元&nbsp;（剩余<span class="red" ng-bind="(((_cache.contract.contractBuyMoney || 0) - (_cache.contract.schedulingBuyMoney || 0))) | currency:''"></span>元）</span>
                                <span>【配送】<span class="red" ng-bind="(_cache.contract.schedulingPresentedMoney || 0) | currency:''"></span>元&nbsp;（剩余<span class="red" ng-bind="(((_cache.contract.presentMoney || 0) - (_cache.contract.schedulingPresentedMoney || 0))) | currency:''"></span>元）</span>
                            }
                        </p>
                    </div>
                </div>-->

            </div>
        </div>



        <div class="header-title">
            <div class="header-message">定向设置</div>
        </div>

        <div class="form-group" ng-init="areasListShow = 0">
            <label class="yc-col-2 control-label"> 地域定向：</label>
            <div class="yc-col-10">
                <label class="radio"><input class="form-control" type="radio" ng-model="areasListShow" ng-value="0"> 不限</label>
                <label class="radio"><input class="form-control" type="radio" ng-model="areasListShow" ng-value="1"> 选择省份</label>
            </div>
        </div>

        <div class="form-group" ng-show="areasListShow == 1">
            <div class="control-label yc-col-2"></div>
            <div class="yc-col-10" id="areasList">

            </div>
        </div>

        <div class="form-group" ng-init="languageShow = 0">
            <label class="yc-col-2 control-label"> 语言定向：</label>
            <div class="yc-col-10">
                <label class="radio"><input class="form-control" type="radio" ng-model="languageShow" ng-value="0"> 不限</label>
                <label class="radio"><input class="form-control" type="radio" ng-model="languageShow" ng-value="1"> 选择语言</label>
            </div>
        </div>

        <div class="form-group language" ng-show="languageShow == 1">
            <label class="yc-col-2 control-label">  </label>
            <div class="yc-col-10">
                <span ng-repeat="la in languageList">
                    <label class="item">
                        <input class="form-control" type="checkbox" ng-model="la.value" ng-true-value="{{la.id}}" ng-false-value="'0'">
                        {{la.name}}
                    </label>
                    <br ng-show="($index+1)%7 == 0">
                </span>
            </div>
        </div>

        <div class="form-group-btn">
            <label class="yc-col-2 control-label"></label>
            <div class="yc-col-10">
                <a href="javascript:void(0)" class="yc-btn" ng-click="postEdit()">提 交</a>
                <a href="javascript:void(0)" data-route="ViewPutOrder" class="yc-btn-out">取 消</a>
            </div>
        </div>

    </form>

    <!--广告位-->
    <!--<div class="dialog-bg hide" yc-module="adSpaceModule">
        <div class="dialog-wraper dialog-wraper-big">
            <div class="dialog-title">
                <span class="title">添加广告位</span>
                <i class="dialog-close yc-icon">&#xe654;</i>
            </div>
            <div class="dialog-con">
                <div class="button-group clear">
                    <div class="query-g fr">
                        <div yc-select="companyListSel" width="150" query="query" value="companyId" key="id" placeholder="所属名称" name="companyName"  group="orderAddGroup"></div>
                        <div yc-select="mediaListSel" width="150" query="query" value="mediaId" key="id" placeholder="选择媒体" name="mediaName" group="orderAddGroup"></div>
                        <div yc-select="periodicationSel" width="150" query="query" value="periodicationName" key="id" placeholder="频道" name="periodicationName" group="orderAddGroup"></div>
                        <div yc-select="sizeListSel" width="150" query="query" value="size" key="id" placeholder="选择尺寸" name="size" group="orderAddGroup"></div>
                        <div yc-select="typeListSel" width="150" query="query" value="adSpaceTypeId" key="id" placeholder="广告类型" group="orderAddGroup"></div>
                        <div class="yc-search-wraper">
                            <input type="text" ng-placeholder="请输入广告位名称或ID" ng-model="query.search"> <i class="yc-icon" ng-click="redirect(1,search)">&#xe623;</i>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <table class="yc-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>广告位名称</th>
                            <th>尺寸</th>
                            <th>创意类型</th>
                            <th>频道</th>
                            <th>所属媒体</th>
                            <th>刊例价</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td ng-bind="item.id"></td>
                            <td ng-bind="item.adSpaceName"></td>
                            <td ng-bind="item.size"></td>

                            <td ng-bind="item.adSpaceTypeName"></td>
                            <td ng-bind="item.mediaChannelName? item.mediaChannelName : item.mediaChannelNames"></td>
                            <td ng-bind="item.mediaName"></td>
                            <td>{{item.price + '/'}}{{item.priceCycle | isDay}}</td>
                            <td class="center body-list-td" ng-click="putRightInfo(item)">
                                <a title="添加" class="yc-icon" ng-class="isInRight(item.id)" style="font-size: 30px">+</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="client-judge" ng-if="total_page<1">您好，暂时没有符合条件的任何数据或请选择公司</div>
                <div>
                    <b>已选项</b> {{adListInfoCache.length}} 项
                    <a class="funAll" href="javascript:;" ng-click="clearInfo()"><b>清空</b><i class="yc-icon">
                                &#xe617;</i></a>
                    <ul class="car">
                        <li ng-repeat="info in adListInfoCache track by $index">
                            <a class="remove yc-icon" href="javascript:;" ng-click="deleteInfoByIndex($index)">&#xe617;</a>
                            <span>{{info.adSpaceName}}</span>
                        </li>
                    </ul>
                </div>
                <div ng-show="total_page>0" yc-page page="page" redirect="redirect(page.page)"></div>
            </div>
            <div class="dialog-submit">
                <a href="javascript:void(0)" class="ok">确定</a>
                <a href="javascript:void(0)" class="no">取消</a>
            </div>
        </div>
    </div>-->

    <!--更多设置-->
    <div class="dialog-bg hide moreConfig" yc-module="moreConfigModule" width="760">
        <div class="dialog-wraper dialog-wraper-big">
            <div class="dialog-title blue">
                <span class="title">设置档期</span>
                <i class="dialog-close yc-icon">&#xe619;</i>
            </div>
            <div class="dialog-con t-left">
                <div class="form-group display-bolok yc-col-5">
                    <label class="control-label yc-col-7"> 设置广告位：</label>
                    <div class="yc-col-5" style="display: inline-block;">
                        <span class="info ellipsis" ng-bind="scheduleTemp.adSpaceName"></span>
                    </div>
                </div>
                <div class="form-group display-bolok yc-col-7">
                    <label class="control-label yc-col-4"> 订单档期：</label>
                    <div class="yc-col-8" style="display: inline-block;">
                        <span class="info ellipsis" ng-bind="order.orderShowDate.startTime + '至' + order.orderShowDate.endTime">asd</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="yc-col-3 control-label"> 档期选择：</label>
                    <div class="yc-col-9">
                        <label class="radio"><input class="form-control" ng-model="scheduleTemp.dateType" type="radio" ng-value="0"> 选择指定日期</label>
                        <label class="radio"><input class="form-control" ng-model="scheduleTemp.dateType" type="radio" ng-value="1"> 快捷时间选择</label>
                        <i title="快捷时间选择：适宜多个有规律的时间期段，例如每周三、周四" class="yc-icon pointer">&#xe622;</i>
                    </div>
                </div>
                <div class="form-group" ng-show="scheduleTemp.dateType == 0">
                    <label class="yc-col-3 control-label"> 设置日期：</label>
                    <div class="yc-col-9 adShowDates">
                        <div class="item" ng-repeat="data in scheduleTemp.adShowDates">
                            <div class="icon-input">
                                <label>
                                    <input class="form-control" id="{{data.pickerDateRange}}" type="text">
                                    <i class="icon yc-icon calendars">&#xe60e;</i>
                                </label>
                            </div>
                            <span class="msg" ng-hide="$index == 0" ng-click="deleteDateRange($index)"><i class="yc-icon pointer delete">&#xe611;</i></span>
                        </div>
                        <span class="msg error" ng-show="$index != 0 && validTimeValue" ng-bind="validTimeValue"></span>
                    </div>
                    <label class="yc-col-3"></label>
                    <div class="yc-col-9">
                        <div class="yc-btn" ng-click="addCalendar()">
                            增加档期
                        </div>
                    </div>
                </div>
                <!--dateSelectType-->
                <!--dateSelectTypeIn-->
                <div class="form-group" ng-show="scheduleTemp.dateType == 1">
                    <label class="yc-col-3 control-label"> 设置日期：</label>
                    <div class="yc-col-9">
                        <div class="item">
                            <label class="radio"> <input class="form-control" ng-model="scheduleTemp.weekOrDate" type="radio" ng-value="0" ng-change="scheduleTemp.changeQuickType(0)"> 快捷选择档期内的星期 </label>
                            <label class="radio"> <input class="form-control" ng-model="scheduleTemp.weekOrDate" type="radio" ng-value="1" ng-change="scheduleTemp.changeQuickType(1)"> 自由快捷选择日期</label>
                            <div class="quick-adCreate">
                                <div class="quick-week" ng-show="scheduleTemp.weekOrDate == 0">
                                    <label ng-repeat="w in scheduleTemp.quickWeek.list"><input class="form-control" ng-model="w.selected" type="checkbox">
                                        {{w.week}}
                                    </label>
                                </div>
                                <div class="data-calendars" ng-show="scheduleTemp.weekOrDate == 1">
                                    <div class="quick-datePicker" ng-repeat="h in scheduleTemp.quickDate.list">
                                        <div class="header">
                                            <p text-center>
                                                <span ng-show="$index == 0" ng-click="scheduleTemp.quickDate.nextMonth(scheduleTemp.quickDate.list.$index,true)" class="pre-left pointer">&lt;</span>
                                                <span ng-bind="h.year"></span>
                                                <span ng-show="$index == 1" ng-click="scheduleTemp.quickDate.nextMonth(scheduleTemp.quickDate.list.$index)" class="pre-right pointer">&gt;</span>
                                            </p>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(0,h.dates)">日</div>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(1,h.dates)">一</div>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(2,h.dates)">二</div>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(3,h.dates)">三</div>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(4,h.dates)">四</div>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(5,h.dates)">五</div>
                                            <div class="week" ng-click="scheduleTemp.quickDate.selectRow(6,h.dates)">六</div>
                                        </div>
                                        <div class="body" ng-click="scheduleTemp.quickDate.selectOne($event,h.dates)">
                                            <div data-date="true" class="date" ng-class="{'date-display':d.display,'date-true':!d.display,'date-active':d.selected,'date-hidden':d.hidden}" ng-repeat="d in h.dates" data-index="{{$index}}" >{{d.day}}</div>
                                        </div>
                                    </div>
                                    <div class="data-tip massage">单击日期或者星期【选择/取消】日期</div>
                                    <div class="yc-btn data-tip data-tip-left" ng-click="scheduleTemp.empty()">清空</div>
                                    <div class="yc-btn data-tip data-tip-left" ng-click="scheduleTemp.init()">重置</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="scheduleTemp.priceCycle==3">
                    <div class="form-group">
                        <label class="yc-col-3 control-label"> 投放时段：</label>
                        <div class="yc-col-9">
                            <label class="radio"><input class="form-control" ng-model="scheduleTemp.showTimeBox" type="radio" ng-value="0"> 全时间段</label>
                            <label class="radio"><input class="form-control" ng-model="scheduleTemp.showTimeBox" type="radio" ng-value="1"> 指定时间段</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="yc-col-3"> </label>
                        <div class="yc-col-9">
                            <div class="showTimeDetail" ng-hide="scheduleTemp.showTimeBox != 1">
                                <label ng-repeat="time in scheduleTemp.showTimeDetailList"><input class="form-control" ng-model="time.selected" type="checkbox">
                                    {{time.str}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="dialog-submit">
                <a href="javascript:void(0)" class="ok">确定</a>
                <a href="javascript:void(0)" class="no">取消</a>
            </div>
        </div>
    </div>

    <!--关联订单-->
    <div class="dialog-bg hide" yc-module="showOrderCarModule" width="950" height="500">
        <div class="dialog-wraper dialog-wraper-big">
            <div class="dialog-title">
                <span class="title">选择关联订单</span>
                <i class="dialog-close yc-icon">&#xe619;</i>
            </div>
            <div class="dialog-con">
                <div class="button-group clear">
                    <div class="query-g fl">
                        <div yc-select="customerNameSel" width="150" query="query2" add="全部" value="customerId" key="id" name="customerName" placeholder="所属客户" name="companyName"></div>
                        <div class="icon-input">
                            <input type="text" class="form-control" ng-placeholder="请输入订单名称或排期单号、合同号" ng-model="query2.search">
                            <span class="icon">
                                <i class="yc-icon" ng-click="redirect2(1,query2.search)">&#xe60b;</i>
                            </span>
                        </div>
                    </div>
                </div>
                <table class="yc-table">
                    <thead>
                    <tr>
                        <th>排期单号</th>
                        <th>订单名称</th>
                        <th>合同号</th>
                        <th>客户名称</th>
                        <!--<th>金额</th>-->
                        <th class="center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items2" repeat-finish="orderCarList">
                        <td><span ng-bind="item.scheduleCode"></span></td>
                        <td><span ng-bind="item.orderName"></span></td>
                        <td><span ng-bind="item.contractCode"></span></td>
                        <td><span ng-bind="item.customerName"></span></td>
                        <!--<td><span ng-bind="item.totalMoney"></span></td>-->
                        <td class="center body-list-td">
                            <a title="选择" href="javascript:void(0)" ng-click="hideOrderAdList('#orderCarList',item.id)">选择</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="client-judge" ng-if="total_page2<1">您好，暂时没有符合条件的任何数据</div>
                <div ng-show="total_page2>0" yc-page page="page2" redirect="redirect2(page2.page,query2.search)" query="query" session="0"></div>

            </div>
            <div class="dialog-submit">
                <a href="javascript:void(0)" class="ok">确定</a>
                <a href="javascript:void(0)" class="no">取消</a>
            </div>
        </div>
    </div>

    <div class="dialog-bg hide" yc-module="adSpaceModule" width="1000">
        <div class="dialog-wraper">
            <div class="dialog-title">
                <span class="title">弹窗</span>
                <i class="dialog-close yc-icon">&#xe619;</i>
            </div>
            <div class="dialog-con">
                <div class="button-group clear">
                    <div class="query-g fl">
                        <div yc-select="companyListSel" width="170" query="query" value="companyId" key="id" placeholder="所属范围" reskey="{{_cache.adInCompanyId}}" name="companyName"  group="orderAddGroup"></div>

                        <div ng-show="departmentListAdSel && (departmentListAdSel.list.length > 1 || departmentListAdSel.$list.length > 1)" yc-select="departmentListAdSel" width="160" query="query" value="depScope" name="departmentName" key="agencyNumber" add="全部" recursion="nextDepts" placeholder="部门范围" ></div>

                        <div ng-show="query.companyId" yc-select="mediaListSel" width="120" query="query" value="mediaId" key="id" add="全部" placeholder="选择媒体" name="mediaName" group="orderAddGroup"></div>
                        <div ng-show="query.companyId" yc-select="periodicationSel" width="120" query="query" value="channelId" key="id" add="全部" placeholder="频道" name="channelName" group="orderAddGroup"></div>
                        <div ng-show="query.companyId" yc-select="sizeListSel" width="100" query="query" value="size" key="size" add="全部" placeholder="选择尺寸" name="size" group="orderAddGroup"></div>
                        <div ng-show="query.companyId" yc-select="typeListSel" width="100" query="query" value="adSpaceTypeId" key="id" add="全部" placeholder="广告类型" group="orderAddGroup"></div>
                        <div ng-show="query.companyId" class="icon-input">
                            <input ng-width="160" type="text" ng-placeholder="请输入广告位名称或ID" ng-model="query.search" class="form-control">
                            <span class="icon">
                                <i class="yc-icon calendars" ng-click="redirect(1,search)">&#xe60b;</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table_list clear">
                    <div class="table-cart">
                        <table class="yc-table">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>广告位名称</td>
                                <td>尺寸</td>
                                <td>创意类型</td>
                                <td>频道</td>
                                <td>所属媒体</td>
                                <td>刊例价</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td>
                                    <span ng-bind="item.id" class="th30 ellipsis"></span>
                                </td>
                                <td title="{{item.adSpaceName}}">
                                    <span ng-bind="item.adSpaceName" class="th110 ellipsis"></span>
                                </td>
                                <td title="{{}}">
                                    <span ng-bind="item.size" class="th70 ellipsis"></span>
                                </td>

                                <td>
                                    <span ng-bind="item.adSpaceTypeName" class="th80 ellipsis"></span>
                                </td>
                                <td>
                                    <span class="th40 ellipsis" ng-bind="item.mediaChannelName? item.mediaChannelName : item.mediaChannelNames"></span>
                                </td>
                                <td>
                                    <span class="th60 ellipsis" ng-bind="item.mediaName"></span>
                                </td>
                                <td><span class="th80 ellipsis">{{item.price + '/'}}{{item.priceCycle | isDay}}</span></td>
                                <td class="center body-list-td" ng-click="putRightInfo(item)">
                                    <a title="添加" class="yc-icon th20 ellipsis pointer" ng-class="isInRight(item.id)" style="font-size: 30px">+</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="client-judge" ng-if="!total_page || total_page<1">您好，暂时没有符合条件的任何数据或请选择所属</div>
                        <div ng-show="total_page >= 1" yc-page page="page" redirect="redirect(page.page,search)" query="query" session="0"></div>
                        <p style="color: red;text-align: left;padding: 5px 0;">说明：一个订单选择的所有广告位仅限同一范围下的媒体资源 </p>
                    </div>
                    <div class="search_denuded">
                        <h4><span class="yc-col-9 t-left">已选择</span><span class="yc-col-3" ng-click="clearInfo()">清空</span></h4>
                        <ul>
                            <li ng-repeat="info in adListInfoCache track by $index">
                                <span class="yc-col-9 ellipsis t-left">{{info.adSpaceName}}</span>
                                <a class="remove yc-icon yc-col-3 ellipsis" href="javascript:;" ng-click="deleteInfoByIndex($index)" style="color:#3f88d2">&#xe611;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dialog-submit">
                <a href="javascript:void(0)" class="ok" style="display: inline-block;">确定</a>
                <a href="javascript:void(0)" class="no" style="display: inline-block;">取消</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>
