<!DOCTYPE html>
<html ng-app="WangCheng">

<head>
    <meta charset="utf-8"/>
    <title>新增订单-投放订单-订单管理</title>
    <meta name="keywords" content="新增订单-投放订单-订单管理" />
    <meta name="description" content="新增订单-投放订单-订单管理" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico" />
    <link rel="stylesheet" href="../../static/css/ycui.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/ADManageAddEdit.css" />

    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/order.js"></script>
</head>

<body>
<nav class="header">
    <div class="scroll scroll-nav">
        <a class="nav" href="javascript:void(0)">广告订单 &gt;</a>
        <a class="nav" href="javascript:void(0)" data-route="ViewPutOrder">投放订单 &gt;</a>
        <a class="nav" href="javascript:void(0)" data-route="ViewPutOrderCreate">创意列表 &gt;</a>
        <a class="nav active" href="javascript:void(0)">新增创意</a>
    </div>
</nav>

<div class="container" ng-controller="putListAddCtrl">
    <div class="form">
        <div class="header-title">
            <div class="header-message">基本信息</div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"><span>*</span> 选择订单：</label>
            <div class="yc-col-10">
                <div yc-select="orderListSel" width="260" query="config" resname="{{config.orderAutoName}}" value="orderId,orderType" key="orderId,orderType" name="orderName" placeholder="订单名称"></div>
            </div>
        </div>

        <div class="hide" ng-class="{'show':adShow}">
            <!--<div class="form-group">
                <label class="yc-col-2 control-label"><span>*</span> 上传方式：</label>
                <div class="yc-col-10">
                    <label class="radio"><input class="form-control" type="radio" ng-model="config.useSizeBo" value="0" ng-change="useSizeBoChange(0)"> 按广告位上传</label>
                    <label class="radio"><input class="form-control" type="radio" ng-model="config.useSizeBo" value="1" ng-change="useSizeBoChange(1)"> 按尺寸上传</label>
                </div>
            </div>-->

            <div class="form-group">
                <label class="yc-col-2 control-label"><span>*</span> 选择广告位：</label>
                <div class="yc-col-10">
                    <label class="checkbox" ng-repeat="ad in advertising">
                        <input class="form-control" type="checkbox" ng-model="ad.advertisingShow">
                        <span ng-bind="ad.CreativesName?(ad.adSpaceName +'，'+ ad.CreativesName.join('，')):(ad.adSpaceName + '-' + (ad.scheduleType | scheduleTypeFtr))"></span> <span ng-bind="ad.size"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2"></label>
            <div class="yc-col-10">
                <ad-create advertising="advertising" config="config"></ad-create>
            </div>
        </div>

        <div class="form-group-btn">
            <label class="yc-col-2 control-label"></label>
            <div class="yc-col-10">
                <a href="javascript:void(0)" class="yc-btn" ng-click="postEdit()">提 交</a>
                <a href="javascript:void(0)" data-route="ViewPutOrderCreate" class="yc-btn-out">取 消</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
