<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>编辑创意-投放订单-订单管理</title>
    <meta name="keywords" content="编辑创意-投放订单-订单管理"/>
    <meta name="description" content="编辑创意-投放订单-订单管理"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/ADManageAddEdit.css"/>

    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.messages.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/order.js"></script>
</head>
<body ng-controller="orderRuleCtrl">
<nav class="header">
    <div class="scroll scroll-nav">
        <a class="nav" href="javascript:void(0)">广告订单 &gt;</a>
        <a class="nav" href="javascript:void(0)" data-route="ViewPutOrder">投放订单 &gt;</a>
        <a class="nav" href="javascript:void(0)" data-route="ViewPutOrderCreate">创意列表 &gt;</a>
        <a class="nav active" href="javascript:void(0)">编辑创意</a>
    </div>
</nav>
<div class="container" ng-controller="putListEditCtrl">
    <div class="form">
        <div class="header-title">
            <div class="header-message">基本信息</div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"><span>*</span> 选择订单：</label>
            <div class="yc-col-10">
                <div yc-select="orderListSel" width="260" value="orderId,orderType" key="orderId,orderType" name="orderName" resname="{{orderName}}" placeholder="订单名称"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2 control-label"><span>*</span> 选择广告位：</label>
            <div class="yc-col-10">
                <label class="checkbox" ng-repeat="ad in advertising">
                    <input class="form-control" disabled checked type="checkbox">
                    <span ng-bind="ad.adSpaceName"></span>
                    <span ng-bind="'-' + (ad.scheduleType | scheduleTypeFtr)"></span>
                    <span ng-bind="ad.adSpaceTypeId == 9?(ad.size + ' ' + ad.size2):ad.size"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="yc-col-2"></label>
            <div class="yc-col-10">
                <ad-create advertising="advertising" config="config"></ad-create>
            </div>
        </div>

        <!--<div class="form-group hide" ng-class="{'show':catagory == 2}" ng-if="catagory == 2" ng-repeat="data in advertising track by $index">
            <label class="yc-col-2"></label>
            <div class="yc-col-10">
                <div class="creative_container">
                    <div class="header">
                        <span ng-hide="data.useSizeShow">
                            【广告位】 <span>{{data.adSpaceName + '-' + (data.scheduleType | scheduleTypeFtr)}}</span>
                        </span>
                        <span>
                            【尺寸】 <span>{{data.adSpaceTypeId == 9?(data.size + ' ' + data.size2):data.size}}</span>
                        </span>
                        <span ng-hide="data.useSizeShow">
                            【创意类型】 <span>{{data.adSpaceTypeName}}</span>
                        </span>
                        &lt;!&ndash;<span ng-click="data.adCreative()">+增加创意</span>&ndash;&gt;
                    </div>
                    <div class="content"  ng-repeat="ad in data.advertisingJsurl track by $index">
                        <div class="content_list">
                            <h4 class="content_listheader">
                                <span class="listheader_title">创意{{$index+1}}</span>
                                <p>尺寸限制<span ng-bind="data.size"></span></p>
                                <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                &lt;!&ndash;<a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>&ndash;&gt;
                            </h4>
                            <div class="form_left">

                                <div class="form-creative">
                                    <label><span>*</span> 创意名称：</label>
                                    <div class="col-list">
                                        <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                    </div>
                                </div>
                                <div class="form-creative">
                                    <label><span>*</span> 选择类型：</label>
                                    <div class="col-list">
                                        <label class="radio"><input type="radio" ng-model="ad.urlOrContent" value="1">url地址</label>
                                        <label class="radio"><input type="radio" ng-model="ad.urlOrContent" value="2">代码内容</label>
                                    </div>
                                </div>

                                <div class="form-creative">
                                    <label><span>*</span> 请输入JS：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.jsCode" placeholder="请输入JS代码"></textarea>
                                    </div>
                                </div>

                                <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                    <label><span>*</span> 显示时长：</label>
                                    <div class="col-list">
                                        <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                        <span class="msg">秒</span>
                                    </div>
                                </div>

                                <div class="form-creative">
                                    <label><span>*</span> 落地页：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                    </div>
                                </div>

                                <div class="form-creative" ng-if="ad.enableMonitor == 1">
                                    <label>检测类型：</label>
                                    <div class="col-list">
                                        <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                        <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                    </div>
                                </div>

                                <div class="form-creative" ng-if="data.enableMonitor == 1">
                                    <label>曝光监测：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                    </div>
                                </div>
                                <div class="form-creative" ng-if="data.enableMonitor == 1">
                                    <label>点击监测：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                    </div>
                                </div>
                                &lt;!&ndash;<div class="form-creative">
                                    <label><span>*</span> 特效：</label>
                                    <div class="col-list">
                                        <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" name="specialEffectsName" resname="{{ad.specialEffectsName}}" add="无" placeholder="选择特效"></div>
                                    </div>
                                </div>&ndash;&gt;
                                <div class="form-creative" ng-if="data.enableMark == 1">
                                    <label><span>*</span> 角标：</label>
                                    <div class="col-list">
                                        <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                    </div>
                                </div>
                                <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                    <label><span>*</span> 角标位置：</label>
                                    <div class="col-list">
                                        <p class="col-list-p">
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                        </p>
                                        <p class="col-list-p">
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="form-group hide" ng-class="{'show':catagory == 3}" ng-if="catagory == 3" ng-repeat="data in advertising track by $index">
            <label class="yc-col-2"></label>
            <div class="yc-col-10">
                <div class="creative_container">
                    <div class="header">
                        <span ng-hide="data.useSizeShow">
                            【广告位】 <span>{{data.adSpaceName + '-' + (data.scheduleType | scheduleTypeFtr)}}</span>
                        </span>
                        <span>
                            【尺寸】 <span>{{data.adSpaceTypeId == 9?(data.size + ' ' + data.size2):data.size}}</span>
                        </span>
                        <span ng-hide="data.useSizeShow">
                            【创意类型】 <span>{{data.adSpaceTypeName}}</span>
                        </span>
                        &lt;!&ndash;<span ng-click="data.adCreative()">+增加创意</span>&ndash;&gt;
                    </div>
                    <div class="content" ng-repeat="ad in data.advertisingH5url track by $index">
                        <div class="content_list">
                            <h4 class="content_listheader">
                                <span class="listheader_title">创意{{$index+1}}</span>
                                <p>尺寸限制<span ng-bind="data.size"></span></p>
                                <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                &lt;!&ndash;<a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>&ndash;&gt;
                            </h4>
                            <div class="form_left">

                                <div class="form-creative">
                                    <label><span>*</span> 创意名称：</label>
                                    <div class="col-list">
                                        <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                    </div>
                                </div>
                                <div class="form-creative">
                                    <label><span>*</span> 选择类型：</label>
                                    <div class="col-list">
                                        <label class="radio"><input type="radio" ng-model="ad.urlOrContent" value="1">url地址</label>
                                        <label class="radio"><input type="radio" ng-model="ad.urlOrContent" value="2">代码内容</label>
                                    </div>
                                </div>

                                <div class="form-creative">
                                    <label><span>*</span> 请输入H5：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.h5Content" placeholder="请输入H5："></textarea>
                                    </div>
                                </div>

                                <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                    <label><span>*</span> 显示时长：</label>
                                    <div class="col-list">
                                        <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                        <span class="msg">秒</span>
                                    </div>
                                </div>

                                <div class="form-creative">
                                    <label><span>*</span> 落地页：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                    </div>
                                </div>

                                <div class="form-creative" ng-if="data.enableMonitor == 1">
                                    <label>检测类型：</label>
                                    <div class="col-list">
                                        <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                        <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                    </div>
                                </div>

                                <div class="form-creative" ng-if="data.enableMonitor == 1">
                                    <label>曝光监测：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                    </div>
                                </div>
                                <div class="form-creative" ng-if="data.enableMonitor == 1">
                                    <label>点击监测：</label>
                                    <div class="col-list">
                                        <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                    </div>
                                </div>
                                &lt;!&ndash;<div class="form-creative">
                                    <label><span>*</span> 特效：</label>
                                    <div class="col-list">
                                        <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" resname="{{ad.specialEffectsName}}" name="specialEffectsName" add="无" placeholder="选择特效"></div>
                                    </div>
                                </div>&ndash;&gt;
                                <div class="form-creative" ng-if="data.enableMark == 1">
                                    <label><span>*</span> 角标：</label>
                                    <div class="col-list">
                                        <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                    </div>
                                </div>
                                <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                    <label><span>*</span> 角标位置：</label>
                                    <div class="col-list">
                                        <p class="col-list-p">
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                        </p>
                                        <p class="col-list-p">
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                            <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="form-group hide" ng-repeat="data in advertising track by $index" ng-if="catagory == 1" ng-class="{'show':catagory == 1}">
            <label class="yc-col-2"></label>
            <div class="yc-col-10">
                <div class="creative_container">
                    <div class="header">
                        <span ng-hide="data.useSizeShow">
                            【广告位】 <span>{{data.adSpaceName + '-' + (data.scheduleType | scheduleTypeFtr)}}</span>
                        </span>
                        <span>
                            【尺寸】 <span>{{data.adSpaceTypeId == 9?(data.size + ' ' + data.size2):data.size}}</span>
                        </span>
                        <span ng-hide="data.useSizeShow">
                            【创意类型】 <span>{{data.adSpaceTypeName}}</span>
                        </span>
                        &lt;!&ndash;<span ng-click="data.adCreative()">+增加创意</span>&ndash;&gt;
                    </div>
                    <div ng-switch="data.adCreativeType">
                        &lt;!&ndash;1&ndash;&gt;
                        <div ng-switch-when="1" class="content" ng-repeat="ad in data.advertising1 track by $index" repeat-finish="advertising1">
                            <div class="content_list">
                                <h4 class="content_listheader">
                                    <span class="listheader_title">创意{{$index+1}}</span>
                                    <p>尺寸限制<span ng-bind="data.size"></span></p>
                                    <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                    <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                    <a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>
                                </h4>
                                <div class="form_left">
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 上传创意：</label>
                                        <div class="col-list">
                                            <div href="javascript:void(0)" class="yc-btn-web" id="{{ad.uploadId}}">选择文件</div>
                                        </div>
                                    </div>&ndash;&gt;
                                    &lt;!&ndash;<div class="upload">
                                        <a href="javascript:;">

                                        </a>
                                    </div>&ndash;&gt;
                                    <div class="form-creative">
                                        <label><span>*</span> 创意名称：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                        <label><span>*</span> 显示时长：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                            <span class="msg">秒</span>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 广告标题：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.adCreativeTitle" maxlength="30" placeholder="请输入广告标题"></textarea>
                                        </div>
                                    </div>&ndash;&gt;
                                </div>
                                <div class="form_right">
                                    <div class="form-creative">
                                        <label><span>*</span> 落地页：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>检测类型：</label>
                                        <div class="col-list">
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>曝光监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>点击监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 特效：</label>
                                        <div class="col-list">
                                            <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" name="specialEffectsName" resname="{{ad.specialEffectsName}}" add="无" placeholder="选择特效"></div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="form-creative" ng-if="data.enableMark == 1">
                                        <label><span>*</span> 角标：</label>
                                        <div class="col-list">
                                            <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                        <label><span>*</span> 角标位置：</label>
                                        <div class="col-list">
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                            </p>
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        &lt;!&ndash;2&ndash;&gt;
                        <div ng-switch-when="2" class="content" ng-repeat="ad in data.advertising2 track by $index" repeat-finish="advertising2">
                            <div class="content_list">
                                <h4 class="content_listheader">
                                    <span class="listheader_title">创意{{$index+1}}</span>
                                    <p>尺寸限制<span ng-bind="data.size + ' ' + data.size2"></span></p>
                                    <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                    <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                    <a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>
                                </h4>
                                <div class="form_left">
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 上传创意：</label>
                                        <div class="col-list">
                                            <div href="javascript:void(0)" class="yc-btn-web" id="{{ad.leftId}}">选择文件</div>
                                            <div href="javascript:void(0)" class="yc-btn-web" id="{{ad.rightId}}">选择文件</div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="upload upload_both">
                                        <a href="javascript:;" class="{{ad.leftId}}">

                                        </a>
                                        <a href="javascript:;" class="{{ad.rightId}}">

                                        </a>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 创意名称：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                        <label><span>*</span> 显示时长：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                            <span class="msg">秒</span>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 广告标题：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.adCreativeTitle" maxlength="30" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>&ndash;&gt;
                                </div>
                                <div class="form_right">
                                    <div class="form-creative">
                                        <label><span>*</span> 落地页：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>检测类型：</label>
                                        <div class="col-list">
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>曝光监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>点击监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 特效：</label>
                                        <div class="col-list">
                                            <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" name="specialEffectsName" resname="{{ad.specialEffectsName}}" add="无" placeholder="选择特效"></div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="form-creative" ng-if="data.enableMark == 1">
                                        <label><span>*</span> 角标：</label>
                                        <div class="col-list">
                                            <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                        <label><span>*</span> 角标位置：</label>
                                        <div class="col-list">
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                            </p>
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        &lt;!&ndash;3&ndash;&gt;
                        <div ng-switch-when="3" class="content" ng-repeat="ad in data.advertising3 track by $index" repeat-finish="advertising3">
                            <div class="content_list">
                                <h4 class="content_listheader">
                                    <span class="listheader_title">创意{{$index+1}}</span>
                                    <p>尺寸限制<span ng-bind="data.size"></span></p>
                                    <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                    <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                    <a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>
                                </h4>
                                <div class="form_left">
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 上传创意：</label>
                                        <div class="col-list">
                                            <div href="javascript:void(0)" class="yc-btn-web" id="{{ad.uploadId}}">选择文件</div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="upload">
                                        <a class="{{ad.uploadId}}" href="javascript:;">

                                        </a>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 创意名称：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                        <label><span>*</span> 显示时长：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                            <span class="msg">秒</span>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 广告标题：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.adCreativeTitle" maxlength="30" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>&ndash;&gt;
                                </div>
                                <div class="form_right">
                                    <div class="form-creative">
                                        <label><span>*</span> 落地页：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>检测类型：</label>
                                        <div class="col-list">
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>曝光监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>点击监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 特效：</label>
                                        <div class="col-list">
                                            <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" name="specialEffectsName" resname="{{ad.specialEffectsName}}" add="无" placeholder="选择特效"></div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="form-creative" ng-if="data.enableMark == 1">
                                        <label><span>*</span> 角标：</label>
                                        <div class="col-list">
                                            <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                        <label><span>*</span> 角标位置：</label>
                                        <div class="col-list">
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                            </p>
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        &lt;!&ndash;4&ndash;&gt;
                        <div ng-switch-when="4" class="content" ng-repeat="ad in data.advertising4 track by $index" repeat-finish="advertising4">
                            <div class="content_list">
                                <h4 class="content_listheader">
                                    <span class="listheader_title">创意{{$index+1}}</span>
                                    <p>尺寸限制<span ng-bind="data.size"></span></p>
                                    <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                    <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                    <a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>
                                </h4>
                                <div class="form_left">
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 上传创意：</label>
                                        <div class="col-list">
                                            <div href="javascript:void(0)" class="yc-btn-web" id="{{ad.uploadId}}">选择文件</div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="upload">
                                        <a class="{{ad.uploadId}}" href="javascript:;">

                                        </a>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 创意名称：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                        <label><span>*</span> 显示时长：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                            <span class="msg">秒</span>
                                        </div>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 广告标题：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.adCreativeTitle" maxlength="30" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_right">
                                    <div class="form-creative">
                                        <label><span>*</span> 落地页：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>检测类型：</label>
                                        <div class="col-list">
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>曝光监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>点击监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 特效：</label>
                                        <div class="col-list">
                                            <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" name="specialEffectsName" resname="{{ad.specialEffectsName}}" add="无" placeholder="选择特效"></div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="form-creative" ng-if="data.enableMark == 1">
                                        <label><span>*</span> 角标：</label>
                                        <div class="col-list">
                                            <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                        <label><span>*</span> 角标位置：</label>
                                        <div class="col-list">
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                            </p>
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        &lt;!&ndash;5&ndash;&gt;
                        <div ng-switch-when="5" class="content" ng-repeat="ad in data.advertising5 track by $index" repeat-finish="advertising5">
                            <div class="content_list">
                                <h4 class="content_listheader">
                                    <span class="listheader_title">创意{{$index+1}}</span>
                                    <p>尺寸限制<span ng-bind="data.size"></span></p>
                                    <p>大小限制<span ng-bind="ad.fileSizeLimit + 'KB'"></span></p>
                                    <p>支持格式<span>gif, jpg , jpeg , bmp , png</span></p>
                                    <a href="javascript:;" ng-click="data.closeBox($index)" ng-show="$index > 0">删除</a>
                                </h4>
                                <div class="form_left">
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 上传创意：</label>
                                        <div class="col-list">
                                            <div href="javascript:void(0)" class="yc-btn-web" id="{{ad.uploadId}}">选择文件</div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="upload">
                                        <a class="{{ad.uploadId}}" href="javascript:;">

                                        </a>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 创意名称：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adSpaceTypeId == 21">
                                        <label><span>*</span> 显示时长：</label>
                                        <div class="col-list">
                                            <input class="form-control" type="number" max="{{data.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                                            <span class="msg">秒</span>
                                        </div>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 广告标题：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.adCreativeTitle" maxlength="30" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creative">
                                        <label><span>*</span> 广告描述</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.adCreativeText" maxlength="500" placeholder="请输入广告描述"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_right">
                                    <div class="form-creative">
                                        <label><span>*</span> 落地页：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>检测类型：</label>
                                        <div class="col-list">
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="1">js</label>
                                            <label class="radio"><input type="radio" ng-model="ad.monitorType" value="2">image</label>
                                        </div>
                                    </div>

                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>曝光监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-if="data.enableMonitor == 1">
                                        <label>点击监测：</label>
                                        <div class="col-list">
                                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="form-creative">
                                        <label><span>*</span> 特效：</label>
                                        <div class="col-list">
                                            <div yc-select="ad.effectListSel" width="260" value="effectId,specialEffectsName" key="id,specialEffectsName" name="specialEffectsName" resname="{{ad.specialEffectsName}}" add="无" placeholder="选择特效"></div>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="form-creative" ng-if="data.enableMark == 1">
                                        <label><span>*</span> 角标：</label>
                                        <div class="col-list">
                                            <div yc-select="adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" resname="{{ad.adMarkName}}" placeholder="选择角标"></div>
                                        </div>
                                    </div>
                                    <div class="form-creative" ng-show="ad.adMarkId && data.enableMark == 1">
                                        <label><span>*</span> 角标位置：</label>
                                        <div class="col-list">
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="1">左上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="2">左下角</label>
                                            </p>
                                            <p class="col-list-p">
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="3">右上角</label>
                                                <label class="radio"><input type="radio" ng-model="ad.adMarkArea" value="4">右下角</label>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>-->

        <div class="form-group-btn">
            <label class="yc-col-2 control-label"></label>
            <div class="yc-col-10">
                <a href="javascript:void(0)" class="yc-btn" ng-click="postEdit()" ng-if="putManageRule['ManagePutOrders']">提 交</a>
                <a href="javascript:void(0)" data-route="ViewPutOrderCreate" class="yc-btn-out">取 消</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
