<div class="creative_container" ng-repeat="data in advertising" ng-show="data.advertisingShow">
    <div class="header">
        <span ng-hide="config.useSizeBo == 1">【广告位】 <span ng-bind="data.adSpaceName + '-' + (data.scheduleType | scheduleTypeFtr)"></span> </span>
        <span>【尺寸】 <span ng-bind="data.adSpaceTypeId == 9?(data.size + ' ' + data.size2):data.size"></span> </span>
        <span ng-hide="config.useSizeBo == 1">【广告类型】 <span ng-bind="data.adSpaceTypeName"></span></span>
        <span ng-hide="config.adCreative" ng-click="data.adCreative()">+增加创意</span>
    </div>
    <div class="content" ng-repeat="ad in data.advertisingList" repeat-finish="advertising-upload">
        <div class="item">
            <div class="item-header">
                <span>创意{{$index+1}}</span>
                <span>尺寸限制 <span ng-bind="ad.adSpaceTypeId == 9?(ad.size + ' ' + ad.size2):ad.size"></span></span>
                <span>大小限制 <span ng-bind="ad.fileSizeLimit + 'KB'"></span></span>
                <span>支持格式&emsp;gif, jpg , jpeg , bmp , png</span>
                <a class="addAd" href="javascript:;" ng-click="data.adCreative()" ng-show="$index > 0">增加</a>
                <a class="deleteAd" href="javascript:;" ng-click="ad.closeBox($index)" ng-show="$index > 0">删除</a>
            </div>
            <div class="form-group" style="width: 55%">
                <label class="yc-col-3 control-label"><span>*</span> 创意类型：</label>
                <div class="yc-col-9">
                    <label class="radio" ng-repeat="ca in ad.catagorysList">
                        <input type="radio" class="form-control" ng-model="$parent.ad.catagory" value="{{ca.value}}">{{ca.name}}
                    </label>
                </div>
            </div>

            <div ng-show="ad.catagory == 1" class="clear">
                <div class="item-left">
                    <div class="form-group">
                        <label class="yc-col-3 control-label"><span>*</span> 创意名称：</label>
                        <div class="yc-col-9">
                            <input ng-class="{'border-error':!ad.adCreativeName && config.$valid}" class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                        </div>
                    </div>
                    <div class="form-group" ng-hide="ad.adCreativeType == 1 || config.edit" ng-init="ad.urlLoadType == undefined && (ad.urlLoadType = 0)">
                        <label class="yc-col-3 control-label"><span>*</span> 上传方式：</label>
                        <div class="yc-col-9">
                            <label class="radio">
                                <input type="radio" class="form-control" ng-model="ad.urlLoadType" value="0"> 上传图片
                            </label>
                            <label class="radio">
                                <input type="radio" class="form-control" ng-model="ad.urlLoadType" value="1"> 填写地址
                            </label>
                        </div>
                    </div>

                    <div ng-show="ad.urlLoadType == 0">
                        <div class="form-group" ng-hide="ad.adCreativeType == 1 || config.edit">
                            <label class="yc-col-3 control-label"></label>
                            <div class="yc-col-9">
                                <div ng-show="ad.leftId" href="javascript:void(0)" class="yc-btn-web" id="{{ad.leftId}}">选择文件</div>
                                <div ng-show="ad.rightId" href="javascript:void(0)" class="yc-btn-web" id="{{ad.rightId}}">选择文件</div>
                                <div ng-show="ad.uploadId" href="javascript:void(0)" class="yc-btn-web" id="{{ad.uploadId}}">选择文件</div>
                            </div>
                        </div>
                        
                    </div>

                    <div ng-show="ad.urlLoadType == 1">
                        <div class="form-group" ng-hide="ad.adCreativeType == 1 || config.edit">
                            <label class="yc-col-3 control-label"> </label>
                            <div class="yc-col-9">
                                <input type="text" class="form-control" ng-class="{'border-error':!ad.fileHttpUrl && config.$valid}" ng-model="ad.fileHttpUrl" placeholder="请填写创意图片地址" ng-change="loadImg(ad,ad.fileHttpUrl,'left')">
                                <span class="error" ng-show="ad.$sizesError1" ng-bind="ad.$sizesError1"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ad.urlLoadType == 1 && ad.adCreativeType == 2">
                        <div class="form-group" ng-hide="ad.adCreativeType == 1 || config.edit">
                            <label class="yc-col-3 control-label"> </label>
                            <div class="yc-col-9">
                                <input type="text" class="form-control" ng-class="{'border-error':!ad.fileHttpUrl2 && config.$valid}" ng-model="ad.fileHttpUrl2" placeholder="请填写创意图片地址" ng-change="loadImg(ad,ad.fileHttpUrl2,'right')">
                                <span class="error" ng-show="ad.$sizesError2" ng-bind="ad.$sizesError2"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ad.adCreativeType != 2 && ad.adCreativeType != 1">
                        <label class="yc-col-3 control-label"></label>
                        <div class="yc-col-9">
                            <div class="{{'upload ' + ad.uploadId}}"></div>
                            <span class="error" ng-show="config.$valid && !ad.fileHttpUrl">请上传图片</span>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ad.adCreativeType == 2">
                        <label class="yc-col-3 control-label"></label>
                        <div class="yc-col-9">
                            <div class="{{'upload-left ' + ad.leftId}}"></div>
                            <div class="{{'upload-right ' + ad.rightId}}"></div>
                            <span class="error" ng-show="config.$valid && (!ad.fileHttpUrl || !ad.fileHttpUrl2)">请上传图片</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.adCreativeType != 3 && ad.adCreativeType != 2">
                        <label class="yc-col-3 control-label"><span>*</span> 广告标题：</label>
                        <div class="yc-col-9">
                            <textarea ng-class="{'border-error':!ad.adCreativeTitle && config.$valid}" class="form-control adCreativeTitle" ng-model="ad.adCreativeTitle" maxlength="30" placeholder="请输入广告标题"></textarea>
                            <span class="msg">{{ad.adCreativeTitle.length || 0}}/30</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.adCreativeType == 5">
                        <label class="yc-col-3 control-label"><span>*</span> 广告描述：</label>
                        <div class="yc-col-9">
                            <textarea ng-class="{'border-error':!ad.adCreativeText && config.$valid}" class="form-control" ng-model="ad.adCreativeText" maxlength="500" placeholder="请输入广告描述"></textarea>
                            <span class="msg">{{ad.adCreativeText.length || 0}}/500</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.adSpaceTypeId == 21">
                        <label class="yc-col-3 control-label"><span>*</span> 显示时长：</label>
                        <div class="yc-col-9">
                            <input ng-class="{'border-error':(!ad.showTimeSeconds || ad.showTimeSeconds>ad.showTimeLimit|| ad.showTimeSeconds<=0) && config.$valid}" class="form-control" type="number" min="0" max="{{ad.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                            <span class="msg">(最大{{ad.showTimeLimit}}秒)</span>
                        </div>
                    </div>

                </div>
                <div class="item-right">
                    <div class="form-group" ng-hide="config.isContent">
                        <label class="yc-col-3 control-label"><span>*</span> 落地页：</label>
                        <div class="yc-col-9">
                            <textarea ng-class="{'border-error':(!ad.landingPage && config.$valid) || (config.testUrl(ad.landingPage) && config.$valid)}" class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMonitor == 1">
                        <label class="yc-col-3 control-label"> 第三方监测：</label>
                        <div class="yc-col-9">
                            <label class="radio"><input type="radio" class="form-control" ng-model="ad.monitorType" value="1">js</label>
                            <label class="radio"><input type="radio" class="form-control" ng-model="ad.monitorType" value="2">image</label>

                            <!--示例-->
                            <span>
                                <span class="pointer success" ng-show="ad.monitorType == 1" ng-title="{{'JS：\n http://adxjs.adpush.cn/bc/tjv1.js?src=6&g=0&pui=17&i=299&j=101&k=10'}}">
                                    示例
                                </span>
                                <span class="pointer success" ng-show="ad.monitorType == 2" ng-title="{{'图片 ：\n http://cmp.adpush.cn/img.gif?src=6&g=0&refer=&pui=17&i=297&j=101&k=10'}}">
                                    示例
                                </span>
                            </span>
                            
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMonitor == 1">
                        <label class="yc-col-3 control-label"> 曝光监测：</label>
                        <div class="yc-col-9">
                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMonitor == 1">
                        <label class="yc-col-3 control-label"> 点击监测：</label>
                        <div class="yc-col-9">
                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMark == 1">
                        <label class="yc-col-3 control-label"> 角标：</label>
                        <div class="yc-col-9">
                            <div yc-select="ad.adMarkSelectSel" width="260" add="无" query="ad" resname="{{ad.adMarkName}}" value="adMarkId" key="id" name="adMarkName" placeholder="选择角标"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.adMarkId && ad.enableMark == 1">
                        <label class="yc-col-3 control-label"> 角标位置：</label>
                        <div class="yc-col-9">
                            <p class="col-list-p">
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="1">左上角</label>
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="2">左下角</label>
                            </p>
                            <p class="col-list-p">
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="3">右上角</label>
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="4">右下角</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="ad.catagory == 2 || ad.catagory == 3" class="clear">
                <div class="item-left">
                    <div class="form-group">
                        <label class="yc-col-3 control-label"><span>*</span> 创意名称：</label>
                        <div class="yc-col-9">
                            <input ng-class="{'border-error':!ad.adCreativeName && config.$valid}" class="form-control" type="text" ng-model="ad.adCreativeName" placeholder="请输入创意名称">
                        </div>
                    </div>
                    <div class="form-group" ng-init="ad.urlOrContent = 1">
                        <label class="yc-col-3 control-label"><span>*</span> 选择类型：</label>
                        <div class="yc-col-9">
                            <label class="radio"><input type="radio" class="form-control" ng-model="ad.urlOrContent" value="1">url地址</label>
                            <label class="radio"><input type="radio" class="form-control" ng-model="ad.urlOrContent" value="2">代码内容</label>

                            <!--示例-->
                            <span>
                                <span class="pointer success" ng-show="ad.urlOrContent == 1 && ad.catagory == 2" ng-title="{{'JS 地址：\n http://www.adpush.cn/test/adjs.js'}}">
                                    示例
                                </span>
                                <span class="pointer success" ng-show="ad.urlOrContent == 2 && ad.catagory == 2" ng-title="{{'JS 代码 ：\n <script type=\'text/javascript\'> \n document.writeln(\'<img src=\'http://img.zcool.cn/community/010e0155fb96556ac7251df8c204de.jpg\'/>\');\n</script>'}}">
                                    示例
                                </span>
                                <span class="pointer success" ng-show="ad.urlOrContent == 1 && ad.catagory == 3" ng-title="{{'H5广告地址：\n http://www.adpush.cn/test/adhtml.html'}}">
                                    示例
                                </span>
                                <span class="pointer success" ng-show="ad.urlOrContent == 2 && ad.catagory == 3" ng-title="{{'H5广告代码：\n <!DOCTYPE html>\n<html xmlns=\'http://www.w3.org/1999/xhtml\'>\n<head><meta http-equiv=\'Content-Type\' content=\'text/html; charset=utf-8\'/><title></title></head>\n<body>\n<img src=\'http://img.zcool.cn/community/01da3155fb976d32f875a1323b21b9.jpg\' />\n</body>\n</html>'}}">
                                    示例
                                </span>
                            </span>

                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.catagory == 2">
                        <label class="yc-col-3 control-label"><span>*</span> 请输入JS：</label>
                        <div class="yc-col-9">
                            <textarea ng-class="{'border-error':!ad.jsCode && config.$valid}" class="form-control" ng-model="ad.jsCode" placeholder="请输入JS代码"></textarea>
                        </div>
                    </div>
                    <div class="form-group"  ng-show="ad.catagory == 3">
                        <label class="yc-col-3 control-label"><span>*</span> 请输入H5：</label>
                        <div class="yc-col-9">
                            <textarea ng-class="{'border-error':!ad.h5Content && config.$valid}" class="form-control" ng-model="ad.h5Content" placeholder="请输入H5"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.adSpaceTypeId == 21">
                        <label class="yc-col-3 control-label"><span>*</span> 显示时长：</label>
                        <div class="yc-col-9">
                            <input ng-class="{'border-error':(!ad.showTimeSeconds || (ad.showTimeSeconds>ad.showTimeLimit || ad.showTimeSeconds<=0)) && config.$valid}" class="form-control" type="number" min="0" max="{{ad.showTimeLimit}}" ng-model="ad.showTimeSeconds" placeholder="请输入显示时长">
                            <span class="msg">(最大{{ad.showTimeLimit}}秒)</span>
                        </div>
                    </div>
                </div>
                <div class="item-right">
                    <div class="form-group" ng-hide="config.isContent">
                        <label class="yc-col-3 control-label"><span>*</span> 落地页：</label>
                        <div class="yc-col-9">
                            <textarea ng-class="{'border-error':(!ad.landingPage && config.$valid) || (config.testUrl(ad.landingPage) && config.$valid)}" class="form-control" ng-model="ad.landingPage" placeholder="请输入落地页地址"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMonitor == 1">
                        <label class="yc-col-3 control-label"> 第三方监测：</label>
                        <div class="yc-col-9">
                            <label class="radio"><input type="radio" class="form-control" ng-model="ad.monitorType" value="1">js</label>
                            <label class="radio"><input type="radio" class="form-control" ng-model="ad.monitorType" value="2">image</label>

                            <!--示例-->
                            <span>
                                <span class="pointer success" ng-show="ad.monitorType == 1" ng-title="{{'JS：\n http://adxjs.adpush.cn/bc/tjv1.js?src=6&g=0&pui=17&i=299&j=101&k=10'}}">
                                    示例
                                </span>
                                <span class="pointer success" ng-show="ad.monitorType == 2" ng-title="{{'图片 ：\n http://cmp.adpush.cn/img.gif?src=6&g=0&refer=&pui=17&i=297&j=101&k=10'}}">
                                    示例
                                </span>
                            </span>

                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMonitor == 1">
                        <label class="yc-col-3 control-label"> 曝光监测：</label>
                        <div class="yc-col-9">
                            <textarea class="form-control" ng-model="ad.pvMonitor" placeholder="请输入第三方曝光监测"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMonitor == 1">
                        <label class="yc-col-3 control-label"> 点击监测：</label>
                        <div class="yc-col-9">
                            <textarea class="form-control" ng-model="ad.clickMonitor" placeholder="请输入第三方点击监测"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ad.enableMark == 1">
                        <label class="yc-col-3 control-label"> 角标：</label>
                        <div class="yc-col-9">
                            <div yc-select="ad.adMarkSelectSel" width="260" add="无" query="ad" value="adMarkId" key="id" name="adMarkName" placeholder="选择角标"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="ad.adMarkId && ad.enableMark == 1">
                        <label class="yc-col-3 control-label"> 角标位置：</label>
                        <div class="yc-col-9">
                            <p class="col-list-p">
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="1">左上角</label>
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="2">左下角</label>
                            </p>
                            <p class="col-list-p">
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="3">右上角</label>
                                <label class="radio"><input type="radio" class="form-control" ng-model="ad.adMarkArea" value="4">右下角</label>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>