<!DOCTYPE html>
<html ng-app="WangCheng">
<head>
    <meta charset="utf-8"/>
    <title>资源管理-频道管理-修改频道</title>
    <meta name="keywords" content="资源管理-频道管理-修改频道"/>
    <meta name="description" content="资源管理-频道管理-修改频道"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/ycui.css"/>
    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/ResourceManage.css"/>
    <script type="text/javascript" src="../../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="../../static/js/ycui.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="../../static/lib/validation/jquery.validate.messages.js"></script>
    <script type="text/javascript" src="../../static/js/global.js"></script>
    <script type="text/javascript" src="../../static/js/application.js"></script>
    <script type="text/javascript" src="../../static/js/resourceManage.js"></script>
</head>
<body ng-controller="resLimitCtrl">
    <nav class="header">
        <div class="scroll scroll-nav">
            <a class="nav" href="javascript:void(0)" >资源管理 &gt;</a>
            <a class="nav" href="javascript:void(0)" data-route="ViewMediaChannelADSpace2">频道 &gt;</a>
            <a class="nav" href="javascript:void(0)" data-route="ViewMediaChannelADSpace2">频道列表 &gt;</a>
            <a class="nav active" href="javascript:void(0)">编辑频道</a>
        </div>
    </nav>
    <div class="container" ng-controller="channelEditCtrl">
        <form class="form">
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 选择媒体：</label>
                <div class="yc-col-10">
                    <input type="text" ng-value="mediaName" disabled class="form-control short">
                </div>
            </div>
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 频道名称：</label>
                <div class="yc-col-10">
                     <input class="form-control" name="myText" type="text" ng-placeholder="请输入频道名称" ng-model="channelName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="yc-col-2 control-label"> 示意图：</label>
                <div class="yc-col-10">
                    <div id="channel-manage" class="yc-btn-web"> 上 传 </div>
                    <div ng-show="_imageUrl" style="width: 75px;height: 75px;padding: 10px 0">
                        <img ng-src="{{_imageUrl.imageUrl}}" width="{{_imageUrl.width}}" height="{{_imageUrl.height}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="yc-col-2 control-label"> <span>*</span> 频道级别：</label>
                <div class="yc-col-10">
                     <div yc-select="levelListSel" width="200" value="level" key="id" name="levelName" reskey="{{level}}" placeholder="频道级别"></div>
                </div>
            </div>
            <div class="form-group-btn">
                <label class="yc-col-2 control-label"></label>
                <div class="yc-col-10">
                    <a href="javascript:void(0)" class="yc-btn" ng-click="postEdit()" ng-if="resourceRule['ManageMediaChannelADSpace']">提 交</a>
                    <a href="javascript:void(0)" data-route="ViewMediaChannelADSpace2" class="yc-btn-out">取 消</a>
                </div>
            </div>

        </form>
    </div>
</body>
</html>